.navbar{
  /* --bs-navbar-active-color: #0d6efd;
  --bs-navbar-hover-color: #0d6efd; */
}
.navbar-nav .nav-item{
  padding: 0 0.5rem;
}
.navbar-nav .nav-link{
  border: 1px solid transparent;
  padding: 0.5rem;
}
.navbar-nav .nav-link.active{
  border-color: #dee2e6;
  background: #e9ecef;
}
.navbar-nav .nav-link:hover{
  border-color: #dee2e6;
  background: #fff;
}
.profile:hover .profile-menu{
  display: block;
  top: 100%;
}
.profile-menu.dropdown-menu {
  right: 0;
  left: auto;
}
.logo{
  height: 50px;
}
.main-content {
  min-height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
}
.main-content .card{
  flex: auto;
}
.footer {
  background-color: #555;
  color: #fff;
  min-height: 177px;
}
#tournamentSettings input.form-control-sm {
  max-width: 60px;
}

.participants-box {
  max-width: 500px;
}

.participant-list {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 50px;
  background-color: #496aff;
}

#newList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
}

#indexList .list-group-item {
  background: none;
}
#indexList .list-group-item span {
  color: #000;
  font-weight: 600;
}

.list-group-item {
  align-items: center;
  background-color: #fff;
  justify-content: center;
  display: flex;
  height: 50px;
  border-radius: 5px !important;
  margin: 10px;
}

.list-group-item .front {
  background-color: blue;
}

.list-group-item .back {
  background-color: green;
  transform: rotateY(180deg);
}

.list-group-item {
  transform-style: preserve-3d;
}

.list-group-item.flipped {
  transition: transform 0.5s;
}

/*  */
.metroBtn {
  background-color: #2E7BCC;
  color: #fff;
  font-size: 1.1em;
  padding: 10px;
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;
}

.brackets {
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: clip;
  padding-bottom: 50px;
}

.brackets>div::after {
  content: '';
  display: block;
  clear: both;
}

.brackets>div>div {
  float: left;
}

.brackets>div>div>div {
  margin: 40px 0;
}

.brackets div.bracketbox {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}

.brackets div.bracketbox>span.info {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 0.8em;
  color: #BBB;
}

.brackets div.bracketbox>span {
  position: absolute;
  left: 20px;
  font-size: 0.85em;
  min-height: 40px;
}
.brackets div.bracketbox span.p-id {
    font-size: 0.85em;
    padding: 13px 10px;
    background: #ace8f4;
}
.brackets div.bracketbox span.score {
  position: absolute;
  right: 0;
  font-size: 0.85em;
  min-height: 42px;
  padding: 0 10px;
  background: #fad684;
  line-height: 40px;
}
.brackets div.bracketbox span.name {
  padding: 0 10px;
}
.brackets div.bracketbox>span.bracketNo {
  left: 70px !important;
  top: calc(50% - 15px);
  border-radius: 100%;
  border: solid 1px;
  background: #fff;
  width: 25px;
  height: 25px;
  min-height: auto;
  text-align: center;
}
.brackets .r1 div.bracketbox>span.bracketNo {
  left: -30px !important;
  border-radius: 0;
  top: -20px;
  padding-top: 38px;
  padding-bottom: 38px;
  height: auto;
}
.brackets .r1 div.bracketbox>span {
  left: 0;
}

.brackets div.bracketbox>span.teama {
  top: -20px;
}

.brackets div.bracketbox>span.teamb {
  bottom: -20px;
}

.brackets div.bracketbox>span.teamc {
  bottom: -20px;
}

.brackets>.group2 {
  height: 260px;
}

.brackets>.group2>div {
  width: 49%;
}

.brackets>.group3 {
  height: 320px;
}

.brackets>.groups>div {
  width: 190px;
}

.brackets>div div.final {
  height: 100px;
  border-bottom: 0;
  border-right: 0;
}

.brackets div.final>div.bracketbox {
  border-top: 0px;
  border-right: 0px;
  height: 0px;
  width: 20px;
}

.brackets>div>.r4>div.drop {
  height: 180px;
  margin-bottom: 0px;
}

.brackets>div>.r5>div.final.drop {
  margin-top: 345px;
  margin-bottom: 0px;
  height: 1px;
}

.brackets>div>div>div:last-of-type {
  margin-bottom: 0px;
}

.brackets>div .bracket-team,
.brackets>div .final > span {
  border: 1px solid #000;
  background-color: #fff;
  min-width: 150px;
  line-height: 40px;
}

.brackets>div .final span {
  margin-left: 20px;
}
.brackets>div .final span.p-id{
  margin-left: 0;
}

.brackets .bracketbox .winner {
  color: red;
  background-color: #caf6cb;
}
#shareHistoryModal .share-settings .input-group{
  flex-wrap: nowrap;
}
#shareHistoryModal .share-settings .path {
  width: 350px;
  display: inline-block;
  word-wrap: break-word;
  border: none;
  background: transparent;
  outline: none;
}

#shareHistoryModal .share-settings .date {
  width: 90px;
  display: inline-block;
}

.bootstrap-tagsinput {
  width: 100%;
}

.bootstrap-tagsinput~.help-block {
  color: #dc3545;
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

/* autocomplete tagsinput*/
.label-info {
  background-color: #5bc0de;
  display: inline-block;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

/* Style for the stop music button */
.skipButtons {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 9999;
}
/* Hover effect */
#stopMusicButton, #skipShuffleButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  /* Blue background color, you can change this */
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  /* Ensure it appears above other content */
}

/* Hover effect */
#stopMusicButton:hover, #skipShuffleButton:hover {
  background-color: #0056b3;
  /* Darker shade of blue on hover */
}

#tournamentTable_filter,
#tournamentGalleryTable_filter {
  display: none;
}
#tournamentGalleryTable_info,
#tournamentTable_info{
  text-align: left;
}
#tournamentGalleryTable,
#tournamentTable{
  width: 100%!important;
}
#tournamentTable_wrapper{
  margin-top: 1rem;
}
#tournamentSearchInputBox::placeholder {
  font-size: 12px;
}

#notificationAlertPlaceholder .alert {
  z-index: 999;
}

.notification-box .delete {
  margin-left: 10px;
  color: #dc3545;
}

.notification-box .delete:hover {
  color: #a71d2a;
}

.dropdown-item a {
  text-decoration: none;
}

.empty-message-wrapper p {
  text-indent: 6px;
}

.pcr-button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pcr-app {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.pcr-app .pcr-interaction .pcr-result {
  min-width: 10em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

#generateProcessing.overlay, .generateProcessing.overlay {
  align-items: baseline;
}

.overlay .snippet {
  background-color: #fff;
  position: relative;
}

#generateProcessing .snippet,
.generateProcessing .snippet {
  top: 150px;
}

.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1.5);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 1.5);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.alert-dismissible .btn-edit {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 2;
  padding: 1rem 1rem;
  border: 0;
  background: none;
}

.note-editable img, .note-editable video {
  max-width: 100%;
  height: auto;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.elimination-type-hint {
  display: none;
}
.settings-update .elimination-type-hint {
  display: block;
}
.link-group{
  list-style: none;
  padding: 0;
}
.link-group a{
  text-decoration: none;
  color: inherit;
}
.card.login{
  max-width: 450px;
}
.footer-copy{
  background: #555;
  color: #fff;
}
#notificationAlertPlaceholder{
  top: 100px;
}
.notification-box .dropdown-menu{
  top: 70px;
}
.notification-box .dropdown-item{
  white-space: normal;
}
.modal{
  --bs-modal-width: 800px;
}
.object-cover{
  object-fit: cover;
}
.object-contain{
  object-fit: contain;
}