:root {
    --bg-cs-background-color: rgb(37, 35, 35);
    --bg-cs-background-corner-border-color: rgb(37, 35, 35);
    --bg-cs-bracket-border-color: rgb(185, 141, 15);
    --bg-cs-bracket-winner-font-color: rgb(12 93 18);
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* Use your image */
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Puts it behind other content */
}

/** Theme for Classic */
.bg-cl .background {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

/** Theme for Championship Gold */
.bg-cs .background {
    --bs-bg-opacity: 1;
    background-color: var(--bg-cs-background-color);
}

.bg-cs .background .corner-top-left,
.bg-cs .background .corner-bottom-right {
    width: 300px;
    height: 300px;
    background-image: url('../images/hexagon.svg');
    background-size: contain;
}

.bg-cs .background .corner-top-left {
    position: fixed;
    top: 100px;
}

.bg-cs .background .corner-top-left::after {
    content: '';
    width: 0px;
    height: 0px;
    background: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    z-index: 100;
    border-left: 150px solid transparent;
    border-top: 160px solid transparent;
    border-right: 150px solid var(--bg-cs-background-corner-border-color);
    border-bottom: 160px solid var(--bg-cs-background-corner-border-color);
}

.bg-cs .background .corner-bottom-right {
    position: fixed;
    right: 0;
    bottom: 0;
}

.bg-cs .background .corner-bottom-right::after {
    content: '';
    width: 0px;
    height: 0px;
    background: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    z-index: 100;
    border-right: 150px solid transparent;
    border-bottom: 160px solid transparent;
    border-left: 150px solid var(--bg-cs-background-corner-border-color);
    border-top: 160px solid var(--bg-cs-background-corner-border-color);
}

.bg-cs .header {
    background-color: var(--bg-cs-background-color);
}

.bg-cs .card {
    background: none;
}

.bg-cs .nav-link,
.bg-cs .breadcrumb-item.active,
.bg-cs .card-title {
    color: rgba(255, 255, 255, 1);
}

.bg-cs .brackets div.bracketbox .bracket-border-line {
    border-color: var(--bg-cs-bracket-border-color);
    border-width: 2px;
    border-radius: 0 10px 10px 0;
}

.bg-cs .brackets div.bracketbox .participants {
    border-color: var(--bg-cs-bracket-border-color);
    border-width: 2px;
    border-radius: 0 10px 10px 0;
    background-color: var(--bg-cs-background-color);
}

.bg-cs .brackets .round-name-wrapper,
.bg-cs .brackets div.bracketbox span.bracketNo,
.bg-cs .brackets>div .bracket-team,
.bg-cs .brackets>div .final>span {
    background-color: rgb(131 131 131);
}

.bg-cs .alert-btn-container .btn {
    background-color: rgb(107, 107, 107);
    border: solid 1px;
    color: #fff;
    margin-left: 5px;
}

.bg-cs .brackets .bracket-link-border {
    border: solid 2px var(--bg-cs-bracket-border-color);
}

.bg-cs .brackets .bracketbox .winner,
.bg-cs .brackets .knockout-final .winner {
    color: var(--bg-cs-bracket-winner-font-color);
}

.bg-cs .brackets .knockout-final {
    border-width: 2px;
    border-color: var(--bg-cs-bracket-border-color);
}

.bg-cs .brackets span.score {
    background: #88893e;
}

.bg-cs .brackets span.votes,
.bg-cs .brackets .vote-btn {
    background: #7782ab;
}

.bg-cs .brackets .rtl div.bracketbox .bracket-border-line,
.bg-cs .brackets .rtl div.bracketbox .participants {
    border-radius: 10px 0 0 10px;
    border-left: solid 2px var(--bg-cs-bracket-border-color);
}

.bg-dr .background {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-blue-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gr .background {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-green-rgb), var(--bs-bg-opacity)) !important;
}

.bg-mm .background {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-pink-rgb), var(--bs-bg-opacity)) !important;
}